{% extends 'index.html' %}
{%block tittle%} Pets List  {%endblock tittle%}

{%block body%}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Units</th>
                <th scope="col">Weight</th>
                <th scope="col">Breed</th>
                <th scope="col">Owner</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in pets  %}
            <tr>
                <th scope="row">{{pet.name}}</th>
                <td>{{pet.age}}</td>
                <td>{{pet.units}}</td>
                <td>{{pet.weight}}</td>
                <td>{{pet.breed}}</td>
                <td>{{pet.owner }}</td>
                <td>
                    <a style="margin-right: 5px ;" href="{% url 'updatePet' pet.id %}">Edit</a>
                    <a href="{% url 'deletePet' pet.id %}">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock body%}
