{% extends 'index.html' %}

{%block tittle %} Add Pet {%endblock tittle %}

{% block body %}
     <h1>ADD your pet</h1>
    <form method="POST">
        {% csrf_token %}
        {{ pet_form.as_p }}
        <button type="submit">Add</button>
    </form>
{% endblock body %}