{% extends 'index.html' %}

{%block title %} Pet Update{%endblock title %}

{%block body%}
    <h1>Update your pet's data</h1>
    <form method="POST">

        {% csrf_token %}
        {% if status %}
           <h2>{{status}}</h2>
        {% endif %}
        {%if error%}
            <h2>{{error}}</h2>
        {% endif %}
        {% if pet_form %}
            {{ pet_form.as_p }}
            <button type="submit">Update</button>
        {% endif %}
    </form>
{%endblock body%}