{% extends 'index.html' %}

{%block tittle%} Client List  {%endblock tittle%}

{%block body%}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients  %}
            <tr>
                <th scope="row">{{client.id_client}}</th>
                <td>{{client.first_name}}</td>
                <td>{{client.last_name}}</td>
                <td>{{client.email}}</td>
                <td>{{client.address}}</td>
                <td>
                    <a style="margin-right: 5px ;" href="{% url 'updateClient' client.id %}">Edit</a>
                    <a href="{% url 'deleteClient' client.id %}">Delete</a>
                </td>
        
            </tr>
            {% endfor %} 
        </tbody>
    </table>
{%endblock body%}


