{% extends 'index.html' %}

{%block title %} Login{%endblock title %}

{%block body%}


    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post"> 
                            {% csrf_token %}
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                               </div>
                            <div class="form-group" style="margin-bottom: 5px"></div>
                                <button type="submit" name="submit" class="btn btn-info btn-md" value="submit">Enviar</button>
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="{% url 'clientRegister'%}" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock body%}