{% extends 'index.html' %}

{%block tittle %} Client Register {%endblock tittle %}

{%block body%}
    <p1>Register</p1>
    <form method="POST">
        {% csrf_token %}
        {{ client_form.as_p }}
        <button type="submit">Create</button>
    </form>
{%endblock body%}