{% extends 'index.html' %}

{%block title %} Client Update{%endblock title %}

{%block body%}
    <p1>Update</p1>
    <form method="POST">

        {% csrf_token %}
        {% if status %}
           <h2>{{status}}</h2>    
        {% endif %}
        {%if error%}
            <h2>{{error}}</h2>
        {% endif %}
        {% if client_form %}
            {{ client_form.as_p }}
            <button type="submit">Update</button>
        {% endif %}
    </form>
{%endblock body%}